*.class
*.log
makedocs.sh

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
docs/

# Scala-IDE specific
.scala_dependencies
.worksheet

#vim
*.swp
*.swo
code
